<a href="#!" class="waves-effect waves-light btn-large" href="#">Wave</a>

<h2>Colors</h2>
<div class="collection waves-color-demo">
  <div class="collection-item">Default<a href="#!" class="waves-effect btn secondary-content">Send</a></div>
  <div class="collection-item"><code class=" language-markup">waves-light</code><a href="#!" class="waves-effect waves-light btn secondary-content">Send</a></div>
  <div class="collection-item"><code class=" language-markup">waves-red</code><a href="#!" class="waves-effect waves-red btn secondary-content">Send</a></div>
  <div class="collection-item"><code class=" language-markup">waves-yellow</code><a href="#!" class="waves-effect waves-yellow btn secondary-content">Send</a></div>
  <div class="collection-item"><code class=" language-markup">waves-orange</code><a href="#!" class="waves-effect waves-orange btn secondary-content">Send</a></div>
  <div class="collection-item"><code class=" language-markup">waves-purple</code><a href="#!" class="waves-effect waves-purple btn secondary-content">Send</a></div>
  <div class="collection-item"><code class=" language-markup">waves-green</code><a href="#!" class="waves-effect waves-green btn secondary-content">Send</a></div>
  <div class="collection-item"><code class=" language-markup">waves-teal</code><a href="#!" class="waves-effect waves-teal btn secondary-content">Send</a></div>
</div>

<h2>Custom color</h2>
<a href="#!" class="waves-effect waves-brown btn-large" href="#">Wave</a>

<style scoped>
  .waves-effect.waves-brown .waves-ripple {
    background-color: rgba(121, 85, 72, 0.65);
  }
</style>

<h2>Circle</h2>

<a href="#!" class="waves-effect waves-circle waves-light btn-floating secondary-content">
  <i class="material-icons">add</i>
</a>
