
<div class="row">
  <div class="col s12 m6">
    <h5>Small</h5>
    <div class="card small">
      <div class="card-image">
        <img src="//unsplash.it/900/900">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <br><br>
    <p class="caption">
     The Small Card limits the height of the card to 300px.
    </p>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <h5>Medium</h5>
    <div class="card medium">
      <div class="card-image">
        <img src="//unsplash.it/900/900">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <br><br>
    <p class="caption">
     The Medium Card limits the height of the card to 400px.
    </p>
  </div>
</div>

<div class="row">
  <div class="col s12 m8">
    <h5>Large</h5>
    <div class="card large">
      <div class="card-image">
        <img src="//unsplash.it/900/900">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <br><br>
    <p class="caption">
     The Large Card limits the height of the card to 500px.
    </p>
  </div>
</div>
