<div class="usa-grid">
  <h4>
    Hidden with "hidden" attribute
  </h4>
  <p hidden>
    Hidden with "hidden" attribute
  </p>
  <h4>
    Hidden with ".sr-only" class
  </h4>
  <p class="usa-sr-only">
    Hidden with ".sr-only" class
  </p>
</div>
