<h2>Basic</h2>
<img class="materialboxed" width="650" src="https://lorempixel.com/800/400/nature/4">

<h2>Captions</h2>
<img class="materialboxed" data-caption="A picture of a way with a group of trees in a park" width="250" src="https://lorempixel.com/800/400/nature/4">

<script>
  var elem = document.querySelector('.materialboxed');
  var instance = M.Materialbox.init(elem, options);
</script>
