Demo at <a href="http://materializecss.com/parallax-demo.html">http://materializecss.com/parallax-demo.html</a>

<div class="parallax-container">
  <div class="parallax"><img src="images/parallax1.jpg"></div>
</div>

<script>
  var elem = document.querySelector('.parallax');
  var instance = M.Parallax.init(elem, options);
</script>
