<div class="row">
  <div class="col s12 m5">
    <h3 class="header">Card Panel</h3>
    <div class="card-panel teal"> <span class="white-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.</span>
    </div>
  </div>
  <div class="col s12 m7">
    <br><br><br><br>
    <p class="caption">
     For a simpler card with less markup, try using a card panel which just has padding and a shadow effect
    </p>
  </div>
</div>
