<span class="new badge" data-badge-caption="custom caption">4</span>
<span class="badge" data-badge-caption="custom caption">4</span>

<span class="new badge red">4</span>
<span class="new badge blue">4</span>
